@font-face {
    font-family: "Raleway-light";
    src: url("../../fonts/raleway-v22-latin-300.woff") format("woff"),
        url("../../fonts/raleway-v22-latin-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}